# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Temporary files
tempCodeRunnerFile.py

# Logs
*.log